# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
**/hs_err_pid*

# Ignore target folder at any level
**/target/

# Ignore node_modules folder at any level
**/node_modules/

# Ignore .idea folder at any level
**/.idea/

# Ignore .DS_Store files at any level (MacOS)
**/.DS_Store


